.preloadModal, .preLoad {
  display: none;
  margin: 100px auto;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 4px solid #5a5858;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 1;
}
 @keyframes spin {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
 }

 @media (max-width: 1000px){
  .preloadModal, .preLoad {
    margin: 20% auto;
  }
 }